/* css for DMHP */
.entry_form {
	/*display:none;*/
	/*border: 1px solid #E1E1E1;
  	border-radius: 4px;
  	margin-bottom:10px;
  	padding:10px;*/
}

.inline li {
	display:inline;
}

.auto_item {
	cursor:pointer;
}

.auto_item:hover {
	background-color:yellow;
}

.overlay {
	background-color:rgba(0,0,0,0);
}

#current_affiliations {
	display:none;
}

.currrent_affiliations_table{
	display:none;
}

.affiliation_entry {
	/*display:none;*/
}

.autocomplete_results {
	display:none;
	position:absolute;
	background:yellow;
	border: 1px solid #E1E1E1;
  	border-radius: 4px;
  	margin-bottom:10px;
  	padding:10px;
}